.dashboard-container {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 2rem;
    text-decoration: none;
  }
  
  .profile-section {
    margin-bottom: 2rem;
  }
  
  .profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 1rem;
  }
  
  .features-section {
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
  }

  .button-container {
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
    align-items: center; /* Center align the buttons */
    margin-top: 20px; /* Add some space from the above content */
  }
  
  
  .feature-card {
    background-color: #1db954;
    color: #fff;
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    transition: transform 0.2s;
  }
  
  .feature-card:hover {
    transform: scale(1.1);
    background-color: #17a74a;
  }

  .spotify-profile-link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #1db954;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
    font-family: 'Quicksand', sans-serif; /* Font */
  }
  
  .spotify-profile-link:hover {
    background-color: #148f3e;
  }
  
  .logout-button {
    margin-top: 10px; /* Adds spacing below the Spotify profile link */
    padding: 10px 20px;
    background-color: #d60000;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
    font-family: 'Quicksand', sans-serif; /* Font */
  }
  
  .logout-button:hover {
    background-color: #b80000;
  }