/* TopArtists container styling */
.top-artists-container {
    padding: 2rem 1rem;
    text-align: center;
  }
  
  /* Tabs styling */
  .nav-tabs .nav-link {
    font-weight: bold;
    color: #000; /* Black text for tabs */
  }
  
  .nav-tabs .nav-link.active {
    background-color: #1DB954; /* Spotify green for active tab */
    color: #fff; /* White text for active tab */
    border-color: #1DB954; /* Match border to tab color */
  }
  
  .top-artists-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* three rows*/
    gap: 2rem;
    padding: 0; 
    list-style: none;
    margin: 2rem auto; 
    max-width: 1000px;
    justify-items: center;

  }

  .artist-card {
    background-color: #121212;
    border-radius: 10px;
    padding: 1rem;
    width: 100%;
    max-width: 250px;
    text-align: center;
    color: white;
  }

  /* Artist image */
.artist-card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 0.5rem;
}